In [1]:
x = 10 
y = 15

if x>y :
    print(x)
else:
    print(y)

15

In [4]:
# fucntion defination 

def large (x,y):
    if x>y:
        return x
    else:
        return y

In [5]:
large(15 , 10 )

15

In [7]:
x = 15
y= 20 

if x %2 == 0 :
    print("x is even", x)
else:
    print("y is even",y)

y is even 20

In [8]:
def check_even(x,y):
    if x %2 ==0 :
        return x 
    else:
        return y

In [10]:
check_even(13 ,22)

22

### Benefits of using a Function

- Code Modularity
- Code Readibility
- Code Reusability

In [13]:
def caculate_area (length, width):
   """
    Calculate the area of a rectangle.

    Parameters:
    length (float): The length of the rectangle.
    width (float): The width of the rectangle.

    Returns:
    float: The area of the rectangle.
    """
   
   return length*width

def calculate_perimeter(length , width):
    """
    Calculate the perimeter of a rectangle.

    Parameters:
    length (float): The length of the rectangle.
    width (float): The width of the rectangle.

    Returns:
    float: The perimeter of the rectangle.
    """
    return 2*(length*width)

def print_shape (length, width):
    """
    Print the area and perimeter of a rectangle.

    Parameters:
    length (float): The length of the rectangle.
    width (float): The width of the rectangle.
    """
        

    area = caculate_area(length, width)
    perimeter = calculate_perimeter(length, width)
    print(f"Rectangle with length {length} and width {width}:")
    print(f"Area: {area}")
    print(f"Perimeter: {perimeter}")
   

print_shape(5,2)

Rectangle with length 5 and width 2:
Area: 10
Perimeter: 20

In [8]:
def add(x,y):
    return x+y

add(3,4)

7

# TYPES OF ARGUMENTS:

In [12]:
def fun(name, age):
    print("name:", name)
    print("age:",age)



fun(24 , "prince")

name: 24
age: prince

In [15]:
def divide(x,y):
    return x/y

divide(10,5)

2.0

In [17]:
def fun(name, age):
    print("name:", name)
    print("age:",age)



fun(age=24 , name="prince")

name: prince
age: 24

In [19]:
def divide(x,y):
    return x/y

divide(y=5,x=10)

2.0

In [23]:
def fun(name="xyz", age=56):
    print("name:", name)
    print("age:",age)



#fun("pricne",25)
fun("prince")

name: prince
age: 56

In [26]:
def divide(x=10,y=5):
    return x/y

divide(15,2)

7.5

In [34]:
def sum_all(*this):
    return sum(this)


sum_all(1,3,2,32,323,232,32,32,323,7)

987

In [38]:
def  strings(*s):
    return " ".join(s)

strings("hello","world","this", "is ","python","class")

'hello world this is  python class'

In [49]:
def info(**k1):
    for k , v in k1.items():
        print(f"{k}:{v}")

info(name="prince",age=30)
#info("prince",23,"banagalore")

name:prince
age:30

# return  vs print

In [54]:
def fun():
    print("this is python class")


f1 =fun()
print(f1)
type(f1)

this is python class
None

NoneType

In [53]:
def fun():
    return "this si my python class"


f1 =fun()
print(f1)
type(f1)

this si my python class

str

In [55]:
def fun(a):
    print(a)


f1 =fun(4)
print(f1)
type(f1)

4
None

NoneType

In [56]:
def fun(a):
    return a 


f1 =fun(4)
print(f1)
type(f1)

4

int

In [60]:

a=4
def fun(a):
    pass
     


f1 =fun(4)
print(f1)

None
4

In [63]:
def fun(a):
    return a 
    print("this is my classs")


f1 =fun(4)
print(f1)

4

In [64]:
def fun(a):
    print(a)
    print("this is my classs")


f1 =fun(4)
print(f1)

4
this is my classs
None

In [65]:
def fun1():
    print("hello","world","hwo are you ")

fun1()

hello world hwo are you

In [66]:
def fun1():
    return "hello" , "world! ","how are you"

fun1()

('hello', 'world! ', 'how are you')

# scope

In [72]:
def my_fun():
    x =10 
    x+=1
    print(x)

my_fun()

11

In [79]:
# enclosing scope 

def my_fun1():

    x = 10 
 
    def my_fun():
        y=20
        print(x)
    
        

    my_fun()

my_fun1()

10

In [83]:
# global variable 
y=20
def my_fun():
    x =10 
  
    print(x)
    global y
    y+=1 
    print(y)

my_fun()

10
21

In [85]:
def my_fun(s):
    l=len(s)
    print(s)
    print(l)
    
  

my_fun("prince")

prince
6

In [88]:
# global variable 
y=20
def my_fun():
    x =10 
  
    print(x)
    global y
    y+=1
    print(y)

my_fun()

10
21

In [94]:

def my_fun1():

    x = 10 
 
    def my_fun():
        y=20
        nonlocal x
        x +=1
        print(x)
        
        print(y)
    
        

    my_fun()

my_fun1()

11
20

### LEGB Rule Explained

The LEGB rule dictates how Python looks for variable names:

- **L (Local)**: Python first looks for a variable in the **local scope** (inside the current function).
- **E (Enclosing)**: If not found, it looks in the **enclosing scope** (inside any enclosing functions, in case of nested functions).
- **G (Global)**: If still not found, it checks the **global scope** (outside the function but in the current module).
- **B (Built-in)**: Finally, it checks the **built-in scope** for Pythonâ€™s built-in functions and constants.

In [4]:
x=10
def outer_fun():
    
    x=7
    def innner_fun():
        x =5
        print(x)

    innner_fun()
    print(x)

outer_fun()
print(x)

5
7
10

In [5]:
def outer_fun(outer):

    def inner_fun(inner):
        result =outer + inner
        return result

    result_inner=inner_fun(5)

    return result_inner

result_outer =outer_fun(10)
print(result_outer)

15

In [7]:
def sum_of_cubes(a,b):

    def cube(x):
        return x*x*x 


    def add(x,y):
        return x +y
    

    return add( cube(a) ,cube(b))




result = sum_of_cubes(2,3)
print(result)

35

In [6]:
def cube(x):
    return x*x*x 

cube(3)

27

# function as data types

In [ ]:
# we can store data types in variables
# we can check the type
# we can access it thorough variable
# fucntion is  a mutable data type or not

In [19]:
def hello(a):
    return a**2

hello(3)
type(hello)

function

In [23]:
a = [1,2,32,42]
a[3]

h = hello
h(3)

9

In [25]:
a = [1,2,32,42 ,h]
a[-1](3)

9

# fucntion can be reuturn fucntion

In [27]:
def hello():
    def hello1(a):
        return a**2

    return hello1

hello()(3)

9

# fucntion as argument

In [30]:
def operation(a,b,oper):

    return oper(a,b)
    def add(a,b):
        return a+b

    def mul(a,b):
        return a*b

operation(2,3,add)

5

# lambda

### no name : ananoymous fucntion 
### no return keyword
### no syntax 
### no reuse
### one line only

In [31]:
def fun(a):
    return a**2 

fun(3)

9

In [32]:
x=lambda x : x**2 
x(3)

9

In [36]:
a =lambda x,y :x+y 
a("prince", "katiyar")

'princekatiyar'

In [38]:
is_even= lambda x : x%2 ==0 
is_even(7)

False

# map

In [ ]:
map(fucntion , iterable)

In [40]:
lambda x : x**2 

l =[1,2,3,4,5]

In [47]:
map(lambda x : x**2 ,l)

list(map(lambda x : x**2 ,l))

[1, 4, 9, 16, 25]

In [51]:
def double(x):
    return x*2 

a=map(double, l)
list(a)

[2, 4, 6, 8, 10]

In [52]:
strings = ['hello', 'world', 'python']

def to_upper(s):
    return s.upper()

In [54]:
a=map(to_upper,strings)
tuple(a)

('HELLO', 'WORLD', 'PYTHON')

# filter

### When to Use:

Use filter when you need to select items based on a condition that involves multiple criteria or a complex check.
Ideal for filtering data in lists where specific attributes or conditions must be met.

In [ ]:
filter (funtion , iterable )

In [57]:
filter (lambda x : x%2 ==0 ,l)

In [56]:
l

[1, 2, 3, 4, 5]

In [63]:
def even(x):
    return x%2 ==0

In [64]:
list(filter (even,l))

[2, 4]

In [68]:
words = ['apple', 'banana', 'cherry', 'date', 'elderberry']

a=filter(lambda word: len(word) > 5 ,words)

In [69]:
list(a)

['banana', 'cherry', 'elderberry']

### When to Use:

Use reduce when you need to aggregate or accumulate values in a sequence to produce a single result.
Ideal for operations like summing a list, multiplying all elements, or combining items in a specific way.

Use reduce to perform operations that involve comparing values or finding extremum values like maximum or minimum in a collection.

Use reduce when you need to combine all elements of a list into a single result through a binary operation, like product, concatenation, or any form of aggregation.

In [70]:
from functools import reduce

In [ ]:
reduce (fucntion , iterable)

In [71]:
l

[1, 2, 3, 4, 5]

In [76]:
def sum1(x,y):
    return x+y

In [77]:
reduce (sum1 ,l)

15

In [79]:
num =[1,6,43,64,3]

def max1(x,y):
    return x if x>y else y

In [80]:
reduce (max1 , num)

64

In [81]:
reduce(lambda x,y:x if x>y else y ,num)

64

# iterable and iterator

In [14]:
l=[1,23,2,43,4,2]
t=(11,2,232,323)
str ="prince"

ins = 32323
for i in ins:
    print(i)

TypeError: 'int' object is not iterable

In [19]:
lis = [i for i in range(100000000)]
import sys
print(sys.getsizeof(lis))

835128600

In [20]:
lis =  range(10000000000000000)
import sys
print(sys.getsizeof(lis))

48

In [28]:
l=(1,23,2,43,4,2)
"__iter__"in dir(l)
"__next__"in dir(l)

False

In [27]:
"__iter__"in dir(3)
"__next__"in dir(l)

False

In [29]:
l=(1,23,2,43,4,2)
l2 =iter(l)  # cnvett 
"__iter__"in dir(l)
"__next__"in dir(l2)  # chekc

True

In [36]:
next(l2)

StopIteration:

In [39]:
l = [1,223,4,34]
for i in l:
    print(i)

1
223
4
34

In [44]:
num = [12,32,32,32,3]
def Myloop(num):
    iterator= iter(num)
    print(next(iterator))
    while True:
        try:
            print(next(iterator))
        except StopIteration:
            break

Myloop(num)

12
32
32
32
3

In [46]:
Myloop((1,23,4,2,32))

1
23
4
2
32

In [47]:
Myloop(range(1,6))

1
2
3
4
5

In [49]:
Myloop("prnicekatiyar")

p
r
n
i
c
e
k
a
t
i
y
a
r

In [50]:
range(1,9)

range(1, 9)

# range khud ka

In [56]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [67]:
class Myrange:
    
    def __init__(self,start , stop ,step=1):
        self.start = start
        self.stop = stop
        self.step = step 
        
    def __iter__(self):
        return self
    def __next__(self):
        if self.start < self.stop :
            value = self.start
            self.start = self.start +self.step
            return value 
        
        else:
            raise StopIteration

In [74]:
r=Myrange(1,10)
for i in r:
    print(i)

1
2
3
4
5
6
7
8
9

In [63]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

# generators fucntions

for i in range

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
l=[i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
def fibo(n):
    l=[]
    a, b = 0,1 
    for _ in range(n):
        l.append(a)
        a,b = b ,a+b 
    return l
    
n=10
fibo(n)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [12]:
def fibo(n):

    a, b = 0,1 

    while a <n :
        yield a 
        a , b = b,a+b 
fibo(10)

In [11]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

# return vs yield

In [26]:
def mul():
    yield 1
    yield 2
    yield 3 


a=mul()
print(next(a))
print(next(a))

print(next(a))

1
2
3

In [28]:
def re(a,b):
    return a ,b
    
    

r = re(2,3)
r1 =re(4,5)
print(r)
print(r1)

(2, 3)
(4, 5)

# decorators :

In [30]:
def deco(func):
    def fun():
        print("################")
        func()
        print("#################")

    return fun

In [31]:
@deco
def hello():

    print("hello people")

hello()

################
hello people
#################

In [33]:
@deco
def hello2():

    print("hello all ")

hello2()

################
hello all
#################

In [38]:
import time 

def time_deco(func):
    def kaam():
        start_time=time.time()
        result= func()
        end_time = time.time()
        print(f"excecution time {end_time-start_time:.5f}")

        return result
    return kaam

In [39]:
@time_deco
def  base():
    print("start execution")
    time.sleep(2)


base()

start execution
excecution time 2.00942